/*body,table,p,div,span {
	font:normal 12px arial;
}*/
a:link {
	color: #0033cc; text-decoration: underline
}
a:visited {
	color: #0033cc; text-decoration: underline
}
a:active {
	color: #0033cc; text-decoration: underline
}
a:hover {
	color: #0000cc; text-decoration: none
}
hr { color: dimgrey; height:1px; text-align:left}
p { margin:0px;}
h1 { font:bold 17px verdana; margin-bottom:10px; color: #003399;}
#footer { clear: both;	padding: 1em;	text-align: center;	border-top:solid 2px #ECECF6; }	
.tab-inactive
{
	background-color: #003366; 
	display:inline; 
	padding-left: 6px;
	padding-right: 6px;
	height:20;
	font:11px verdana;
	font-weight: normal;
	cursor:hand; 
}
.tab-active
{
	font:11px verdana;
	font-weight: normal;
	color: #000000;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 0px none #c0c0c0;
	background-color: #efefef;
	text-align: center;
	display:inline;	
	padding-top: 4px;
	padding-right: 6px;
	padding-left: 6px;
}
 
/*----Example CSS Class --*/ 
img.greyborder {
	border: 1px solid #c0c0c0;
}
img.invert {
	filter: invert;
}
img.flip{
	filter: fliph 
}
td.module {
	background-color: #efefef;
}
td.content {
	color: black; 
	font-family: tahoma, arial, helvetica; 
	font-weight: bold; 
}
/* hyperlink styles of the unselected tabs */
a.othertabs:link, a.othertabs:visited, a.othertabs:active {
	text-decoration: none;
	color:#ffffff;
}
a.othertabs:hover {
	text-decoration: underline;
	color:#ffff00;
}
.subtabbg {
	background-color: #efefef;
}
.redcolor{
	color:red;
}
.boldgreen
{
	color: green; font-weight: bold;
}
.highlight
{
	background-color: yellow;
}

/*Added on 12_30_2013*/

/**********************************************************/
@font-face {
    font-family: 'oswaldbook';
    src: url('../../theme/FrontEnd/font/oswald-regular-webfont.eot');
    src: url('../../theme/FrontEnd/font/oswald-regular-webfont-1.eot') format('embedded-opentype'),
         url('../../theme/FrontEnd/font/oswald-regular-webfont.woff') format('woff'),
         url('../../theme/FrontEnd/font/oswald-regular-webfont.ttf') format('truetype'),
         url('../../theme/FrontEnd/font/oswald-regular-webfont.html') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'casperregular';
    src: url('../../theme/FrontEnd/font/casper-webfont.eot');
    src: url('../../theme/FrontEnd/font/casper-webfont-1.eot') format('embedded-opentype'),
         url('../../theme/FrontEnd/font/casper-webfont.woff') format('woff'),
         url('../../theme/FrontEnd/font/casper-webfont.ttf') format('truetype'),
         url('../../theme/FrontEnd/font/casper-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.OrangeColor
{
	font-family: 'oswaldbook';
	display:block;
	color: rgb(255, 99, 0) !important;
	padding: 3px 0px 3px 10px;
	font-size: 22px !important;
	background: url("images/icon_15.png") no-repeat scroll right top rgb(212, 242, 247);
} 
span.OrangeColor2
{
	font-family: 'oswaldbook';
	display:block;
	color: rgb(255, 99, 0) !important;
	margin-top: 20px;
	font-size: 22px !important;
} 

span.BlackColor
{
	font-size: 14px;
	font-family: arial, verdana, sans;
	line-height: 120%;
	color: #414141;
	font-weight: bold;
}

span.GreenColorBoldItalic
{
	color:#008000;
	font-style:italic;
	font-size: 14px;
	font-family: arial, verdana, sans;
	line-height: 120%;
	font-weight: bold;
}
span.GreenColor
{
	color:#008000;
	font-size: 14px;
	font-family: arial, verdana, sans;
	line-height: 120%;
}

span.OrangeTextColor
{
	color:#ff6600;
	font-size: 14px;
	font-family: arial, verdana, sans;
	line-height: 120%;
	font-weight: bold;
}

span.GreyColor
{
	color:#5f5f5f;
	font-size: 14px;
	font-family: arial, verdana, sans;
	line-height: 120%;
}
h1
{
	font-size: 28px;
	font-family: 'oswaldbook';
	font-weight: normal;
}
h3
{
	font-size: 22px;
	font-family: 'oswaldbook';
	font-weight: normal;
}
h4
{
	font-family: 'oswaldbook';
	font-size: 18px;
	font-weight: normal;
}
h5
{
	color:#153f5c;
	font-family: 'oswaldbook';
	font-size: 15px;
	font-weight: normal;
}
h5 a
{
	color:#153f5c !important;
	text-decoration:none !important;
}
h6
{
	font-size: 15px;
	font-weight: normal;
}
span.TitleBlue {
	font-family: 'oswaldbook';
	display:block;
	font-size: 28px;
	font-weight: normal;
	color: rgb(21, 63, 92) !important;
}
span.TextBlue {
	font-size:14px;
	color:#1170b4 !important;
}
span.SubTitleCaps
{
	font-size: 15px;
	font-weight: normal;
	color: #000 !important;
	text-transform:uppercase;
}
span.WhiteOrangeLinks {
	display:block;
	font-size: 20px !important;
	color: rgb(255, 255, 255) !important;
	font-family: 'oswaldbook';
	line-height: 36px;
	padding-bottom: 13px;
	padding-left: 10px;
	padding-bottom: 13px;
	background: url("images/shd_01.png") no-repeat scroll right bottom rgb(255, 99, 0);
}
span.BlackBlueLinks {
	display:block;
	color: rgb(0, 0, 0);
	font-size: 18px;
	text-decoration: none;
	display: block;
	padding: 6px 0px 6px 30px;
	border: 1px solid rgb(97, 189, 207);
	background: url("images/icon_14.png") no-repeat scroll 6px center transparent;
	text-decoration:none;
}
p {
    line-height: 20px;
    margin-top: 10px;
	font-size: 14px;
	color: rgb(80, 80, 80);
}

/*Added on 12_31_2013*/
span.HPTitleSmall
{
	text-align: center;
	font-size: 18px;
	font-family: 'oswaldbook';
	font-weight: normal;
	color: #1D3B61;
}
span.HPTitleLarge
{
	text-align: center;
	font-size: 24px;
	font-family: 'oswaldbook';
	font-weight: normal;
	color: #1D3B61;
}

/*Added on 01_22_2014*/

.faq-box {
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 5px 15px 15px 15px;
	border: 1px #f2f2f2 solid;
	background: #f7f7f7;
}

img.ImageRight {
	max-width:100%;
	float:right;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:5px;
}

img.Map {
	max-width:100%;
	display:block;
	margin-top:15px;
	margin-bottom:10px;
}
ul.style_01 {
	font-size:14px;
	margin-top: 6px;
	margin-left:8px !important;
	padding-left:0;
}
ul.style_01 li {
	list-style: none;
	margin-top: 5px;
	line-height: 20px;
	padding-left: 15px;
	background: url("images/true_1.png") no-repeat 0px 5px;
}